/*
  Button
 */
.button {
	height: 45px;
	line-height: 45px;
	appearance: none;
	padding: 0px;
	outline: none;
	background: none;
	border: none;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	&.button-red {
		background: $red;
		color: #fff;

		&:hover {
			background: darken($red, 5%)
		}
	}
	&.button-grey {
		background: $light-grey;
		color: $dark-grey;

		&:hover {
			background: darken($light-grey, 5%)
		}
	}
}

/*
  Filter
 */

.filters {
  margin-bottom: 15px;
  text-align: right;

  p {
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
  }
  .filter {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    p {
      margin-right: 10px;
    }
    select {
      display:inline-block;
    }
  }
}
